%ifnot RELEASE lucid maverick lenny etch squeeze
    %set MULTIARCH yes
%endif
Source: boomaga
Section: utils
Priority: extra
Maintainer: Alexander Sokolov <sokoloff.a@gmail.com>
Build-Depends: pkg-config,
%if MULTIARCH yes
    debhelper (>= 8.0.0~),
    dpkg-dev (>= 1.16.0~),
%else
    debhelper (>= 7.0.50~),
%endif
    cmake,
    libqt4-dev (>= 4.6.0),
    libcups2-dev,
    libsnappy-dev,
    libpoppler-dev,
    libpoppler-qt4-dev
Standards-Version: 3.9.1
Homepage: https://github.com/Boomaga/boomaga

Package: boomaga
Architecture: any
Depends:  cups, ${shlibs:Depends}, ${misc:Depends}
Description: virtual printer for viewing a document before printing
 Boomaga (BOOklet MAnager) is a virtual printer for viewing a document before
 printing it out using the physical printer.
 The program is very simple to work with. Running any program, click “print”
 and select “Boomaga” to see in several seconds (CUPS takes some time to
 respond) the Boomaga window open.
 If you print out one more document, it gets added to the previous one, and you
 can also print them out as one.
 Regardless of whether your printer supports duplex printing or not, you would
 be able to easily print on both sides of the sheet.
