[Desktop Entry]
Exec=boomaga %U
Icon=boomaga
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;Office;
MimeType=application/x-boomaga-boo;

Name=Boomaga
GenericName=Virtual printer
Comment=Virtual printer for viewing and editing a document before printing.



# Translations
Comment[uk_UA]=Віртуальний принтер, який дає змогу переглянути і відредагувати документ перед друком.
GenericName[uk_UA]=Віртуальний принтер
Name[uk_UA]=Boomaga
Icon[uk_UA]=boomaga
